.form-client {
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-client .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.form-client .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}