.menu {
    max-width: 100%;
    max-height: 50px;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 0px 10px -1px #d3d3d3;
    line-height: 50px;
    font-size: 14px;
    background: #fa8072;
    color: #fff
}

.menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.menu ul li:hover {
    opacity: .6;
    cursor: pointer;
}